.navbar, .about{
background-image: linear-gradient(to right top, #070d16, #101628, #1e1a39, #341c46, #4f184d);
background-size: cover;
background-attachment: fixed;
}

.foot{
    color: white;
    background-color: black;
    padding: 40px 80px;
    position: fixed;
    position: relative;

}